[2018-10-15 15:52] jojo12 opened #1 "Question: template overrides?"
I know, you don't need the jem responsive overrides, but when I have to change other things, is this possible?

Egnarts94 answer:
Hey,
normally the templateoverrides should similar work as before.
But if you use JEM-Responsive you should take the responsive files to override (jem-responsive.css instead of jem.css etc.)
@jojo12 I tested it successfully with css as well as php files.

[2018-10-15 15:54] jojo12 opened #2 "dev1.2: fontawesome seems not ready"
I installed on an new joomla. when I activate the font icons, they are not there. (But I have to say, I am testing on a 3.9.RC)

Sorry, I tested on a protostar template, there is no fontawesome.
When I test e.g. on ja_simply, all is ok

Egnarts94 answer:
No, you were correct. I forgot to create the folder in media/com_jem for FontAwesome...
Will be fixed with the next build

[2018-10-15 18:04] jojo12 opened #3 "JEM2.3dev1: error in JEM-Module_Wide"
@egnarts: in this new version I get error notices which were not in the previous version:
Notice: Undefined variable: row in mysite.ch/httpdocs/modules/mod_jem_wide/tmpl/default_jem_eventslist.php on line 92

Notice: Undefined variable: row in mysite.ch/httpdocs/modules/mod_jem_wide/tmpl/default_jem_eventslist.php on line 93

Egnarts94 answer:
Yea, thats a copy&paste mistake... I will fix it.

[2018-10-15 18:27] jojo12 commented on #2
I added manually the line in jem.xml and
I added the missing folder (Fontawesome) in media and
tried again in protostar -> icons are here in protostar too! ok!

[2018-10-15 18:28] jojo12 opened #4 "how we can here add labels (like bug)"
It would be good to label the issues. But somehow they are not working!

[2018-10-15 20:22] Egnarts94 commented on #4
I'm going to find it out^^

[2018-10-16 05:49] Egnarts94 commented on #2
Fixed in https://github.com/Egnarts94/JEM-Project/commit/0730f3f8c87a04f7f079247b5ce8f8d6606e0d5c and new version is uploaded to the pullrequest.

[2018-10-16 05:49] #2 closed, assigned to nobody

[2018-10-16 05:51] Egnarts94 commented on #3
Interesting: I fixed it and changed $row to $item but the recurrence icons do not appear... are they available at all in the jem_mod_wide module?

[2018-10-16 06:21] #1 closed, assigned to nobody

[2018-10-16 06:21] #4 closed, assigned to nobody

[2018-10-16 06:23] jojo12 commented on #3
@before the recurrence icons were only in simple list (and event and editevent)

[2018-10-16 11:16] jojo12 opened #5 "fontawesome map-marker-plus would be better"
there's this icon, but only in fontawesome 5.4 free
is it possible to go there?

[2018-10-16 17:04] Egnarts94 commented on #5
If you mean for adding new venue? Yes, the problem is, that I do not understand the packages of FontAwesome5 and also their license, thats why I used FontAwesome4^^

[2018-10-16 17:10] jojo12 commented on #5
Mee too, but I will look for explanation. For the monent it is ok

[2018-10-22 17:01] jojo12 opened #6 "Deprecated (at least in Joomla 3.9 and php 7.2"
in JEM 2.3dev1:Deprecated: Function create_function() is deprecated in mysite.ch/subdomains/intra/httpdocs/components/com_jem/classes/user.class.php on line 229

[2018-10-22 19:42] jojo12 opened #7 "Bug in JEM 2.3dev1: "go back" in Frontend Attending manager"
"go back" in attending manager should not go to "my events". Better back to the previous page e.g. event!

[2018-10-23 06:09] jojo12 opened #8 "in JEM 2.3dev1 categories: Undefined Property"
When I open the JEM categories (menue), I get:
Notice: Undefined property: JemViewCategories::$noevents in mysite.ch/httpdocs/components/com_jem/views/categories/tmpl/default_jem_eventslist.php on line 73

[2018-10-23 06:14] jojo12 opened #9 "JEM 2.3dev1: myevents and myattendings not yet finished"
allways testing in responsive part:
the layout in not yet good!

[2018-10-23 06:57] Egnarts94 commented on #9
What is not ready yet in those views?
Its the small table like in all other views and not the modern list because of the Select-Checkbox and the Status-Icon.

[2018-10-23 07:28] Egnarts94 commented on #5
The map-marker-plus is in the premium package, so we have to pay for that. And I think we shouldn't do that.

[2018-10-23 07:35] Egnarts94 commented on #6
Affected files:
site/classes/user.class.php line 229
site/models/eventslist.php line 419, 423

[2018-10-23 07:43] jojo12 commented on #9
I test actually after all with the responsive: see image
![myev](https://user-images.githubusercontent.com/2960236/47344081-e5e9fe00-d6a7-11e8-86d1-bf837290da66.png)

myattendings is about the same

I use them in a 3 column site on a desktop /in a 2 column site too

[2018-10-23 07:46] Egnarts94 commented on #9
This happens because you have set some "Column Width" values in Backend->JEM->Settings->Layout

[2018-10-23 07:50] Egnarts94 commented on #7
Is the behavior the same as in the original JEM? This should be posted in the original repository. I think this has nothing to do with the responsive override and is not important (like deprecated etc.) for the next release.

[2018-10-23 08:20] jojo12 commented on #5
I agree

[2018-10-23 08:24] jojo12 commented on #9
your're right! How did you know :-)

[2018-10-23 08:24] #9 closed, assigned to nobody

[2018-10-23 08:24] #3 closed, assigned to nobody

[2018-10-23 08:25] #5 closed, assigned to nobody

[2018-10-24 13:28] jojo12 opened #10 "Proposal for eventregistration (adding icons)"
adding icons (see  image)
![signattend](https://user-images.githubusercontent.com/2960236/47433817-76583980-d7a1-11e8-87e1-9a9a9450df80.png)

[2018-10-24 15:00] jojo12 commented on #8
works fine! Thanks

[2018-10-24 21:02] Egnarts94 commented on #10
I like these Icons, I will add them in the next update.

From where did you get this form?
I don't know something about "optional comment"

[2018-10-24 21:32] jojo12 commented on #10
??? What do you mean? This form is official inside JEM Frontend since 2.2.1!

[2018-10-26 07:07] Egnarts94 commented on #10
Also the commentary field? o.O
How can I activate that? Didn't find an option.

[2018-10-26 09:00] jojo12 commented on #10
JEM Settings >User Control > Registrations >Allow Comments = YES

[2018-10-26 09:30] Egnarts94 commented on #10
Ooooh, I didn't know about that, I think there will be something to do for JEM-Responsive :D

[2018-10-26 10:47] jojo12 commented on #10
There is more inside than you think! ;-)

[2018-10-26 11:40] Egnarts94 commented on #10
I did a rework in the override. But now after the integration the old form is used. I am investigating....

[2018-10-26 14:53] Egnarts94 commented on #10
It's fixed. A new build is available in the pull-request.

[2018-10-28 09:30] jojo12 opened #11 "integration of override: visibility of attending statues in FR"
Perhaps you don't know this: There is a possibility to show who's attending/not attending in FE. (until now in template override) but with prepares in the JEM core.
In the JEM settings you can choose who can see this in FE:
JEM settings>Event page>Registration>Show attendee names to....
Because of the possibility of this choice, I propose to integrate it in the JEM core.
It shows the attending sta

[2018-10-29 07:20] jojo12 commented on #11
Meanwhile there's a new post in the forum just asking for that!
(Hoffis solution is with numbers 1/1  -1 1?)

[2018-10-29 17:11] Egnarts94 commented on #11
I added a setting to Jem settings>Event page>Registration>Show not only attending users
A updated Build is available at the pull-request (https://github.com/jemproject/JEM-Project/files/2526271/pkg_jem_v2.3.0-dev1.9.zip)

The icons are only available in the responsive version of JEM. I did *no* change on the old layout.

[2018-10-30 06:52] jojo12 commented on #11
I am not so happy with the default_attendings_responsive.php. In Hoffis part there are just preparations to make visible attendings/nonattenings/invited and waitinglists. . This has consequences too for the cb_jem_plugins!

[2018-10-30 07:12] Egnarts94 commented on #11
Ehm, I think I did the same?
With the new Build (v2.3.0-dev1.9.zip), there is a Backend-option to switch between the default listing (only attending users) and all users (attentding, waitinglist, invited, nonattending) in the event view.
This is just a more powerful integration of the solution postet by you in the forum (https://www.joomlaeventmanager.net/forum/jem-2-2-x-on-joomla-3/10077-see-both

[2018-10-30 09:38] jojo12 commented on #11
I have to test more, I will write more. I am away from home. First waiting for Joomla! 3.9. today!

[2018-10-31 13:54] jojo12 opened #12 "dev1.10: undefined property"
afater a fresh install of pkg_jem_v2.3.0-dev1.10 I got a lot of: e.g.
Notice: Undefined property: stdClass::$layoutstyle in mysite.ch/httpdocs/components/com_jem/helpers/helper.php on line 1240

and
Notice: Undefined property: stdClass::$useiconfont in mysite.ch/httpdocs/components/com_jem/helpers/helper.php on line 1252

EDIT:
this happens when no modern responsive style!

[2018-10-31 14:03] jojo12 commented on #12
strange: after some more trials, I don't get this anymore. (Perhaps some cache things?)

[2018-10-31 14:33] jojo12 opened #13 "dev1.10: in BE icons of attending state and recurrence are missing"
They seems to get lost. But are important there

[2018-10-31 14:56] jojo12 opened #14 "Proposal for other attending status icons and colours"
![attendlist](https://user-images.githubusercontent.com/2960236/47796881-803fe680-dd25-11e8-952c-3e5bf98b5872.png)
I propose:
green fa-check-square for attending
red fa-times-circle for non attending
blue fa-question-circle for invited
orange fa-exclamation-circle for waitinglist  (exclamation you have to do something)

and I find it is better to have at first the icon and then the name! It's more

[2018-10-31 15:02] jojo12 opened #15 "giving the event creators the possibility to add attendees in FE"
I think, this is very important, because not all creators must have the right to enter backend.
It needs a change in event/view.html.php

line 193 ff you change to:
// Check if user can edit attendees
//$isAuthor = $userId && ($userId == $item->created_by);
//$permissions->canEditAttendees = $isAuthor;
// Check if user can edit events (admins and group members)
$permissions->canEditAttendees = $us

[2018-10-31 16:30] jojo12 commented on #14
and the new sorting of attendings is exciting! Bravo!

[2018-10-31 19:09] Egnarts94 commented on #13
Eeeehm... What? Why the icons are replaced with the font-awesome icons?
I did only changes in the frontend...^^

There may be a bug during inclusion of FontAwesome. In Backend also the recurrence Icons are hidden if FA is enabled.

[2018-10-31 19:59] Egnarts94 commented on #14
I also do a compromise:
* All attendee-status-icons are circles
* replace the list icon with fa-exclamation-circle
* the icons are before the name in the next build I will upload

[2018-10-31 20:13] Egnarts94 commented on #15
Sorry I don't understand.
When I am the creator of an event, I am already able to manage the attendees.

What I can read in the comment (// Check if user can edit events (admins and group members)) is that you want to change from creator-only to a group that is able to create those events?

[2018-10-31 20:17] Egnarts94 commented on #12
This happens if no value is in the database.
Do you know how to write a default value into the database on during installation of JEM? I didn't find out until yet.

Edit: I found it. Fixed with the next build

[2018-10-31 21:03] jojo12 commented on #15
How do you manage the attendees in Frontend? How do you export/print a attendeelist from Frontend?
In my system I am the only admin, but 8 other users are event creators who should know who is attending, not attending,... They don't have the right to enter backend (for safety reasons).

[2018-10-31 21:08] jojo12 commented on #15
Uups: in this version 1.19 you changed something: the attendees, nonattendees, waitings and invited are not visible anymore in the attendeesmanager!!

[2018-11-04 06:47] Egnarts94 opened #16 "Enhance venues view."
The venues view shows less details then in normal JEM. This should be improved.

[2018-11-04 15:37] Egnarts94 opened #17 "Event view - broken venue details when "display venue address" is not shown."
From Kralyk: https://github.com/jemproject/JEM-Project/pull/1188#issuecomment-435671907

Setting to reproduce: Jemsettings -> Event Page -> Display Venue Address: Hide

[2018-11-04 15:42] #8 closed, assigned to nobody

[2018-11-04 19:09] jojo12 opened #18 "proposal for responsive: class for avatar icon"
For me the avatar img in the attending list (with cb) is too big. In the old non responsive part the img had an extra class. So it was very easy to add in css a max-width.  (I prefer an img of 20 px here)

[2018-11-06 06:11] jojo12 commented on #18
sorry, this is too much individual. And I can change it by myself.

[2018-11-06 08:03] Egnarts94 commented on #18
Sorry for my late reaction.
I don't know how it looks with cb avatars. I think there could be something to do for me.
Could you share me an url where JEM-Responsive and CB are activated?

[2018-11-12 07:49] jojo12 opened #19 "Pull request: I'll not.."
@Egnarts94:
I like your version 2.3 dev19+ and I didn't find more bugs. For me it's good enough. Some changes I would do, I can and will change with template overrides.
But I will not answer the pull request, because in earlier cases I was too quick! I am not an expert, even if I find some bugs.
My question is: who will look about the security problems. Who has enough experience with that? is it s

[2018-11-13 06:41] #10 closed, assigned to Egnarts94

[2018-11-13 06:42] #12 closed, assigned to nobody

[2018-11-13 06:42] #13 closed, assigned to nobody

[2018-11-13 06:42] #14 closed, assigned to nobody

[2018-11-13 06:42] #17 closed, assigned to nobody

[2018-11-13 06:45] Egnarts94 commented on #19
Hello @jojo12 ,
I think there are not more security problems then before because I just duplicated the amount of views. I used the same functionality as the default JEM.
It's okay that you do not respond the pull request. I hope that hoffi will have some time soon...
Edit: What do you think about posting the developer version in the JEM-Responsive Thread in forum for a "public test"?

[2018-11-13 06:48] Egnarts94 opened #20 "Remove jem_..._string_contains()"
I should integrate that to jemhelper class until I found a better solution

[2018-11-13 07:40] jojo12 commented on #6
On php 7.2 this is important for the old JEM 2.2.3 too! And has to be fixed!

[2018-11-13 11:17] Egnarts94 commented on #6
It's fixed for JEM-Responsive and default JEM... What do you mean?

[2018-11-13 11:52] jojo12 commented on #6
Yes, but it depends, when we will officially bring JEM 2.3. All those who use JEM 2.2.3 and php 7.2 will get Notifications. I think this will force us to bring JEM 2.3 earlier or to give a patch to adapt the concerned files!

[2018-11-13 12:23] #20 closed, assigned to Egnarts94

[2018-11-13 12:23] #7 closed, assigned to nobody

[2018-11-21 08:43] Egnarts94 commented on #18
I added a width of 30px so that I can see whats in the profile picture, with 20px it was very small to see whats on the picture.
It's okay?

[2018-11-21 08:46] jojo12 commented on #18
Yes, if it looks good in the column

[2018-11-21 09:44] jojo12 commented on #18
I tested and it looks very good! And if someone wants it smaller, he can manipulate it without changing other images too. Thanks.

[2018-11-22 07:08] #18 closed, assigned to Egnarts94

[2018-11-22 07:09] #11 closed, assigned to nobody

[2019-01-06 09:51] jojo12 commented on #19
Hi Egnarts94,
sorry, I've seen your question only today.
I would say yes.
I think, Hoffi will not have time, respectively he is more interested to find a possibility to give a bit more responsiveness to the tables of the old "template". So he is working on "table-responsive".
But this is not against the JEM-responsive.
I will officially start to work with it on a live site.

[2019-01-06 13:39] Egnarts94 commented on #19
Okay, then lets do so.
Currently im trying to get better release function instead of manually changing all versions in the files. I think eclipse will help me for that. When i am successfull, I will update the forum post.

[2019-01-30 16:57] jojo12 opened #21 "Bug in responsive venue: there's no map; in legacy venue, there's the map"
Really strange.
when I look in live css, in legacy I see a relation to the googlemap.css. In responsive not.
Can this be because of that?

[2019-01-30 17:05] jojo12 commented on #21
I took
`.map_canvas {
    height: 250px;
    margin: 10px 0px 10px 0px;
    border: 1px solid grey;
}`
from googlemap.css and inserted it for testing in jem-responsive.css
and....
SUCCESS: the map is there!
so there must be a broken relation between!

[2019-01-31 17:04] jojo12 commented on #21
is it possible, that class "map_canvas" can be defined outside of JEM and interferes with the map of JEM?

[2019-02-01 15:42] jojo12 commented on #21
sorry- It seems to be an interference problem with ja_purity_iii template, with protostar there's  no problem.

[2019-02-01 17:26] Egnarts94 commented on #21
Ehm, please try the following:
Go to <JoomlaRoot>->media->com_jem->css and duplicate all files that do not have a "...-responsive.css" in their name and change the name of the duplicated files to this schemata.
Example:
There is a file called "googlemap.css"
After that there are two files:
googlemap.css
googlemap-responsive.css

[2019-02-06 13:24] jojo12 commented on #21
Sorry, for the late response. I first tried something other. And I didn't have enough time to test.
Now I tested: Your proposal works well on all of my templates! Thanks

[2019-02-10 10:22] jojo12 commented on #21
I had now a case, I had to add for map-canvas
width: 100%;
if not, there was only a line on the right side of the venue in event details!

[2019-02-14 21:26] Hambone68 opened #23 "Use default values from venue when creating new event"
This is mostly a feature request since you seem to be the most active developer on JEM lately - thanks for your work by the way!
I would like to be able to define event defaults on a per-venue basis (stuff like start time and end time mostly, using custom fields would be fine) and then have those defaults populated in the New Event form when the venue is selected.
Barring that, I'd even be happy w

[2019-02-15 08:24] jojo12 commented on #23
Hi, you sent no information about your version. So I only can say: in JEM 2.2.3 and higher, there are two icons for edit an event. The first one is to edit an existing event. And the second one is for creating a new event with the existing infos. This works in frontend and backend. You can even use an archived event to create a new one. More is not needed and will not be added!

[2019-02-15 15:25] Egnarts94 commented on #23
@jojo12
I think he wants to set some values in the custom fields of venues and everytime a new event is created, it should copy the custom-field-values from the venue and use it as date/time etc.

@Hambone68
I think that is not possible because you are always creating an event before selecting a venue.
If you want to implement that yourself, take a look at the eventcreate view and add some javascr

[2019-03-13 12:54] jojo12 commented on #21
I come back to this problem: Because the problem is not yet away, I tested more:
It's the "#jem .jem-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
or inside the flex, which is causing this problem!
We need this what for? Can I disable this?

[2019-03-13 14:22] Egnarts94 commented on #21
The CSS code you posted creates the horizontal order of nearly all items.
For example it is uses in the simplelist (table view) for each line, or in the simplelist (modern view) for each event details like category, date/time, city, location etc.

I think it's time that I look for an api-key to fix that.

[2019-04-17 16:52] depebo opened #24 "Calendar Component with Calendar Module"
Build from develop-egnarts branch, installed on clean 3.9.5, installed demo data
Published calendar module in position-7 (right)
Added menu item - JEM Calendar
Loaded page showing Calendar component and Calendar module
Reduced browser window width till right bar goes under component
At this point calendar module takes 100% width and all days appear in one column, just like calendar component, but

[2019-04-17 19:01] jojo12 commented on #24
This is wanted like that, if not, the calendar is nearby not readable

[2019-04-18 09:40] depebo commented on #24
Pretty sure you would not want this. Hold on closing this issue - I will provide screen shot form the test system in a few days (it is on the different laptop)

[2019-04-18 10:15] jojo12 commented on #24
No, sure, I will not close. Do you have a better solution for mobiles?

[2019-04-18 10:20] depebo commented on #24
In this particular instance, IMHO, the calendar _module_ should go wide and take all width available.
If you asking if I have better overall solution for JEM mobile, then no, I don't. Hence my drive for design review and plan before we start version 4 upgrade.

[2019-04-18 10:41] jojo12 opened #25 "Collecting infos for Joomla 4.0 extensions"
https://www.youtube.com/watch?v=jUc5sMqb22E
https://github.com/joomla/joomla-cms/issues/20838

[2019-04-18 11:24] depebo commented on #25
https://docs.joomla.org/Potential_backward_compatibility_issues_in_Joomla_4

[2019-04-18 14:32] Egnarts94 commented on #24
It would be good if you give us a screenshot.
As far as I understood, the calendar module has style problems on mobile devices?

[2019-04-19 21:39] depebo commented on #24
![image](https://user-images.githubusercontent.com/14943618/56445204-e92b1300-62f3-11e9-8618-0a781fa48cbf.png)
this is what calendar module looks like

[2019-04-19 21:41] depebo commented on #24
![image](https://user-images.githubusercontent.com/14943618/56445255-3909da00-62f4-11e9-8615-2b52de49dfee.png)
Pretty sure this was not the intention?

[2019-04-19 21:42] depebo commented on #24
![image](https://user-images.githubusercontent.com/14943618/56445287-6f475980-62f4-11e9-9465-3470a7f5ba99.png)
Calendar component looks fine.

[2019-04-20 03:49] jojo12 commented on #24
@depebo:
You're right: on mobile the mod_jem_cal looks wrongly. The components menu calendar looks ok.

[2019-04-20 05:44] Egnarts94 commented on #24
I think there is something broken in your css?
Take a look at https://jem-test.lkgchemnitz.de ,my Testpage for development.
![image](https://user-images.githubusercontent.com/14231804/56453246-ef46e100-633f-11e9-906e-6bc7fdd29ce8.png)
It looks correct, tested with small browser on desktop (chrome, firefox) and mobile phone browser (also chrome).
Edit: Also tested with the device simulation of chro

[2019-05-04 10:01] #24 closed, assigned to Egnarts94

[2019-05-04 10:03] Egnarts94 opened #27 "The responsive view do not use jemhtml.icon"
Currently, fa-icons are hard-coded in the views.
hoffi introduced a two-way function to include eigther fa-icons or images.

[2019-05-05 16:45] jojo12 commented on #21
I am testing with the new JEM v2.3.0-dev.0.4.6:
now I found this:
the map problem is only, when you use the last possibility: google with the key.
when you use google map, then the map is on a good position.
![map with apikeymap](https://user-images.githubusercontent.com/2960236/57197291-d8220900-6f65-11e9-9880-dbb37c8aee8a.png)

[2019-05-05 17:46] jojo12 opened #28 "How to enlarge the eventimage/venueimage in eventdetail /venuedetail?"
Hi, there is no possibility to enlarge the eventimage/venueimage in the eventdetail page
(only in the simplelist). This would be great!

[2019-05-06 05:41] jojo12 commented on #28
Sorry, I forgot it: in the JEM settings you can choose imagewidth!
(can be closed!)

[2019-05-06 10:25] Egnarts94 commented on #21
Hey, until now I never used any map in JEM.
Can you say me what I need to do to get a working map to be displayed, like you mentioned?
What and where I have to insert in the Venue itself, what settings I have to do?

[2019-05-06 10:25] #28 closed, assigned to nobody

[2019-05-06 12:12] jojo12 commented on #21
ok, I'll try:
got JEM>settings>Eventpage>Venues>choose map service:  you have 4 options
no mapservice
display link to google maps
display google map
display google map (api-key) you need an api-key, if you choose this you need to insert in additional fields com and de (for german)
you can do the same on JEM>settings>Global Parameters>Venues>Choose map service:

if you have an api-key, you insert i

[2019-05-06 13:03] jojo12 opened #29 "pkg_jem_v2.3.0-dev0.4.6: Bug when attachments enabled"
In settings: attachments are enabled, I try to open editvenue:
500 Layout „edit_attachments“ nicht gefunden!

[2019-05-06 13:10] jojo12 opened #30 "pkg_jem_v2.3.0-dev0.4.6: currently no attendances in attendees is wrong"
![attendees](https://user-images.githubusercontent.com/2960236/57375052-af378900-719c-11e9-9e03-30cbc5ee6dba.png)
event when there are attendances, the attendees window shows
"currently no attendances"

[2019-05-06 16:04] jojo12 commented on #21
I think, I have it
the end `</div>` from `<div class="jem-row jem-wrap-reverse">`
must be earlier, before the
`<?php if ($params->get('event_show_mapserv') == 3) : `?>`

[2019-05-06 17:58] jojo12 opened #33 "pkg_jem_v2.3.0-dev0.4.6: in attendees"
I get an error in attendees
0 Call to undefined method JemOutput::addremovebutton()

[2019-05-08 10:35] jojo12 commented on #33
addendum: it's only in the responsive part!

[2019-05-08 16:06] jojo12 commented on #29
It's  a TYPO: it searches "edit_attachments" and the file is "edit_attachment.php". I renamed the file to edit_attachments.php and then it worked!
EDIT: Addendum:
the same TYPO is in default template too!

[2019-05-08 16:25] depebo opened #34 "Local Dev Setup"
@Egnarts94
As requested in forum post - here is a post of issue:

Clone Egnarts94/JEM-Project
Local copy branch dev23 to dev23-depebo
Make all changes in dev23-depebo branch
Once permitted Push back to remote

How do we keep all branches in sync in this case - by merging all changes between branches manually?
Will it not be better for individuals to fork and work on that fork, periodically syncing

[2019-05-08 19:02] depebo opened #35 "Simple List View - Column Width"
Simple List in Modern Responsive on J!3.9.6 (Beez3)+ JEM 2.3.0-dev0.4 + demo data
Need to find a better way to align: currently due to not specific width of last columns second, third and 4th columns can start at different positions.

![image](https://user-images.githubusercontent.com/14943618/57400383-3e5b9580-71cb-11e9-880f-7ca9659ded9c.png)

[2019-05-08 19:07] depebo opened #36 "Module Wide - Overrun"
Using Alternative Responsive (not sure if it is still a wip or can be tested) on J!3.9.6 (Beez3)+ JEM 2.3.0-dev0.4 + demo data. Might be good to have a note somewhere explaining difference between Modern and Alternative.
Issue: the content overruns module width.

![image](https://user-images.githubusercontent.com/14943618/57400927-80390b80-71cc-11e9-867f-45b4f5c4e701.png)

[2019-05-08 19:51] jojo12 commented on #36
Module wide is only for wide positions!

[2019-05-08 21:09] Egnarts94 commented on #34
You are right, I just wanted to begin someting to do...
We need to think about how do wie build our branches and merges.
Take a look here: https://de.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow
Are you german? Or which language is your native?

Edit: I sent you an invite to this repo.

[2019-05-08 21:11] Egnarts94 commented on #36
The "Alternative" layout is developed by hoffi. I think its better when we not touch his overrides.

[2019-05-08 21:14] Egnarts94 commented on #35
It seems that you defined a column width for just some columns. Currently it works just with eighter no column width defined or all column widths defined with SumColumnWidth = 100% ConentWidth

[2019-05-08 21:16] jojo12 commented on #36
In my eyes, alternative layout is a try to be as responsive as you can inside of the old known layout!

[2019-05-09 03:40] depebo commented on #35
That was from the default demo data install, no changes made. Suggest the settings for demo data install are amended.

[2019-05-09 03:59] depebo commented on #34
Invite received, will try pushing my branch (dev23-depebo) now.
Russian and English both fluent, but my German is a bit shaky.
Translated and read the article - at this juncture, I would like you to lead this development and I will simply assist as and when required.

[2019-05-09 05:42] jojo12 commented on #36
@Egnarts94: I understand @depebo: That in the "help" should be mentioned the difference(s) between alternative_responsive, modern_responsive and default_table

[2019-05-09 05:51] jojo12 commented on #36
here's my JEM_wide on a wide position (banner):
![jemwide](https://user-images.githubusercontent.com/2960236/57430205-39c8c880-722f-11e9-8b1d-037238e084de.png)

[2019-05-09 07:33] Egnarts94 commented on #29
Thank you, its changed.

[2019-05-09 07:33] #29 closed, assigned to Egnarts94

[2019-05-09 08:46] Egnarts94 commented on #33
Thank you, I have fixed it.

[2019-05-09 08:46] #33 closed, assigned to Egnarts94

[2019-05-10 07:24] Egnarts94 opened #37 "Attending User Icons get lost when "Show all related users" is disabled"
Show all related users: Yes
![image](https://user-images.githubusercontent.com/14231804/57509707-3dc71a00-7305-11e9-85c5-02981e807988.png)

Show all related users: No
![image](https://user-images.githubusercontent.com/14231804/57509743-57686180-7305-11e9-8863-4986e3de6aef.png)

[2019-05-10 07:29] #19 closed, assigned to nobody

[2019-05-10 07:30] #23 closed, assigned to nobody

[2019-05-10 07:32] Egnarts94 commented on #35
I think since JEM's default setting is the legacy layout, the default column widths are correct.
What do you think?

[2019-05-10 07:33] Egnarts94 commented on #36
So, we should add an entry in the help that explain the different views?

[2019-05-10 09:42] #37 closed, assigned to nobody

[2019-05-10 09:49] Egnarts94 commented on #30
Eventually you need to clear your webspace manually. After moving the files in the views to /tmpl/responsive the old ones are not deleted.

For me, I can not reproduce you problem. Eventually you should update to the current build.
In https://github.com/Egnarts94/JEM-Project/releases I will publish new testbuilds in future.

[2019-05-10 10:01] Egnarts94 commented on #21
Ahh I found my problem. In the venue I need to check the Geodata->Add a map link

[2019-05-10 11:28] Egnarts94 commented on #21
@jojo12 I should be fixed now.
Please test it.

[2019-05-10 12:39] Egnarts94 opened #38 "Notice: Version changes"
I changed how we count versions:
- Annotation in files is now the nex major version (currently 2.3.0)
- Versions in xml files that are used for builds are now dev4
- The last number in the name of the .zip file is the build number, and should be always greater than that before.

If a bigger set of issues has been done, we move to a new devX version. (Don't forget changing the build number to 0 aft

[2019-05-10 14:45] depebo opened #39 "Update README.md Listing Recent Changes"
Update README.md to include all responsive and other changes.
Perhaps, include information on how to contribute, links to https://www.joomlaeventmanager.net/forum and website.
@Egnarts94, your post here https://www.joomlaeventmanager.net/forum/jem-2-2-x-for-joomla-2-5-joomla-3-community-support/10484-the-responsive-jem-included-to-jem can be used in some part for this.

[2019-05-10 14:52] depebo opened #40 "Redirect to Login Page Instead of 404"
Based on https://www.joomlaeventmanager.net/forum/jem-2-2-x-on-joomla-3/10465-mailer-plugin-and-site-login#25536
If user is not logged on and Venue / Category / Event are not showing up due to insufficient permissions - redirect user to login page instead of 404. The forum topic above covers Events, but IMHO can be extended to all other JEM items.
Opinions please?

[2019-05-10 15:04] depebo commented on #35
I hear you. Perhaps, we need to document these type of things, not sure what is the best place for this though.
Off topic: going forward (version 4 J!) we are probably going to ditch table layout anyway?

[2019-05-10 16:15] Egnarts94 commented on #40
But basically it's a good idea.
Two questions:
1. What is the default Joomla-Way if you don't have permissions to get an menu-item etc? I think Joomla's components etc redirect to the default page (Home) instead of showing the login form.
2. Do we need to touch every view or can we control this in a controller or a view.html.php?

[2019-05-10 16:17] Egnarts94 commented on #35
If hoffi won't remove, it will stay as long as possible :(

[2019-05-11 01:07] depebo commented on #40
Joomla-way is "you are not authorized to view this resource" error message, no 404, no re-direct.
As far as I can see it is controlled by each model (event, venue, category, etc...). May be there is a way to handle it in main JEM controller?
Alternatively, we  can show same message as Joomla!, either way current redirect to 404 should be replaced.

[2019-05-11 06:18] jojo12 commented on #21
@Egnarts94: It fixed very well! Thanks

[2019-05-11 06:39] jojo12 opened #41 "pkg_jem_v2.3.0-dev4.1: attachments remove doesn't work"
in editevent I uploaded an attachment, but I can't remove it (the button seams dead)
EDIT: The same is in editvenue

[2019-05-11 06:52] Egnarts94 commented on #41
It should been fixed within this commit: https://github.com/Egnarts94/JEM-Project/commit/823335a392deca05b7e0e38c91adb9ef2d6ab830
The latest build has it included, isn't it?

[2019-05-11 06:53] #21 closed, assigned to nobody

[2019-05-11 07:08] jojo12 commented on #41
I didn't install it yet, the map fix is just included too in this? dev.4.1?

[2019-05-11 07:12] jojo12 commented on #41
I tried with the attachments.js, on other places like image remove it works but not in attachments remove.

[2019-05-11 08:11] jojo12 commented on #41
installed pkg_jem_v2.3.0-dev4.1: but problem persists.

[2019-05-11 14:35] depebo commented on #41
Can confirm remove attachment does not work as expected: (x) button is visible and as soon as you click on it (x) button disappears, but leaves the attachment row visible, making it confusing for the user. If you Save (or just Close!!!) then attachment is removed, as it was actually removed on (x) button press.

Solution: as soon as (x) button is pressed remove only that table row (not just (x) bu

[2019-05-12 14:26] depebo opened #42 "Change order in Frontend Form editevent"
Based on @jojo12 forum post few weeks ago:
https://www.joomlaeventmanager.net/forum/feature-requests/10592-todo-change-order-in-frontend-form-editevent
@jojo12 can you confirm what should be going were and post here please. Take screenshot and then cut/move or simply draw on paper or otherwise. Thanks.

[2019-05-12 15:52] jojo12 commented on #42
![tab2](https://user-images.githubusercontent.com/2960236/57584618-be407300-74dd-11e9-8fff-de1e38b3d182.png)
![tab1](https://user-images.githubusercontent.com/2960236/57584619-be407300-74dd-11e9-98f2-0a47830faa4e.png)
Normally would be WHAT WHEN WHERE, but if you don't have the location, you come into problems, when the location is last. So I took location for the first!
The Basics (I would it ren

[2019-05-13 13:38] depebo commented on #42
@jojo12 do we want to change back end order of field to match as well?
@Egnarts94 let me know if you want me to go ahead with this one (assign to me).

[2019-05-14 08:46] jojo12 commented on #42
@depebo: I think, in the backend it's ok like it is!

[2019-05-14 09:05] Egnarts94 commented on #42
Isn't it better to begin to move to J4 than adding new features?

[2019-05-14 09:12] jojo12 commented on #42
Sorry, but this isn't a new feature, it's only making more userfriendly and can be done passing by.

[2019-05-14 09:13] Egnarts94 commented on #41
@jojo12 Did you clear the cache / reload the page new to cache (Shift+F5 or so)? Then it should work in dev4.1. I had to change the Javascript to get it working with the new icons and that is often cached by the browser.
@depebo The current process of removing an attachment needs to be changed. But I think that has no priority at the moment. Because it needs changes in all views, frontend and back

[2019-05-14 09:38] Egnarts94 opened #43 "Editevent chooseusers is not responsive"
There is a table-layout in the chooseusers.php.
I think I forgot to change that layout in general.

[2019-05-14 15:25] depebo commented on #42
Ys, it is better to move to J4, but I am not sure where to begin with JEM on J4 (namespacing, architecture in general). I am still here to land a hand though.
Looks like we will be using JEM 2.3 for a while, in which case there is a point in making a better UI.
@Egnarts94 Also, what is your plan of merging branches: dev23-depebo has moved ahead of dev23 now.

[2019-05-16 07:07] Egnarts94 commented on #42
Okay, than lets do that. But when we do that, we need to do for each layout (legacy, alternative, responsive).
I think in a first step, it would be good to only list, what concrete field do you want to have where and which separations. So we can discuss at first, then implement our discussion.

Eg:
Tab: Event
Headline: Details
Fields:
When
Where
Start Time
End Time
...
Headline: Desc
Field: Descri

[2019-05-16 08:00] jojo12 commented on #42
Normally I  would prefere WHAT WHEN WHERE.
But when the Location is at the end and your location is not yet saved, you can loose all the fields you just filled before (because this is a needed field). (The only possibility you have is to choose "no location" or to leave).
Tab: Event
Headline: Basics (what where when)
Fields:
Where
When
Start Time
End Time
Categories (attention: can be used in diff

[2019-05-16 10:03] jojo12 commented on #42
To discuss:
Headline: Publishing-Options
Fields:
Featured
Status
Access
could also be moved to the advanced (extended) tab.
Reason: the normal settings should be changed only in special cases. For the normal user it's too much!

[2019-05-16 17:04] depebo opened #44 "Venue Description on Event Page is not Preparing Content"
As per @jojo12 forum issue https://www.joomlaeventmanager.net/forum/jem-2-2-x-for-joomla-2-5-joomla-3-community-support/10492-problem-with-content-plugins-in-venue-description

[2019-05-16 17:09] depebo commented on #44
@jojo12 @Egnarts94  please test and merge to your branch

[2019-05-16 17:16] depebo commented on #41
Definitively needs to be fixed, responsive part is a good start, please go ahead.

[2019-05-17 04:46] jojo12 commented on #41
@Egnarts94: Sorry, you need an answer. Even after cleaning the cache, the problem persists.

[2019-05-17 05:49] jojo12 commented on #30
dev4.1: sorry, but the problem persists!
in the event detail view, they are shown, but in the attendees manager not!

[2019-05-17 05:56] Egnarts94 commented on #44
jojo has tested it.
Could you please add some comments what you do there?
So that we know in 2 years what this part of code does...^^

[2019-05-17 10:45] jojo12 commented on #44
If you use e.g. xtd-plugins in venue description, the content prepare must prepare this not only in venue detail page but in event detail page too! With the addition of depebo this works.

[2019-05-17 17:19] depebo commented on #44
@Egnarts94 did you want me to add comment to code or just here?
In code for event details view there is a block of statements that trigger various events, including content preparation. Code added was self explanatory, so I did not add the comment.
//use temporary class var to trigger content plugin for venue description

[2019-05-18 18:35] Egnarts94 commented on #42
My Idea:

I think you forgot Title and Alias here. Additionally I would remove the headline.
**Tab: Event**
Title
Alias
Start Date, End Date
Start Time, Endtime
Categories
Venue

I would do that without headline, like it is now. Its obviusly that the big text field should be the description, and the fieldname already exists. So:
Field: Description

I would reorder the following fields. See below.

[2019-05-18 18:40] Egnarts94 commented on #30
For me, it works
![image](https://user-images.githubusercontent.com/14231804/57973675-00b9f200-79ad-11e9-9c0b-dd5c5ef4bfc5.png)

Am I in the correct place?
Event -> Registration -> Booked Places -> Click on Link

Did you do this?

[2019-05-18 18:44] #6 closed, assigned to nobody

[2019-05-18 18:45] Egnarts94 commented on #44
Please to code :D

Yea for example. Just to give a hint what this part of code does.
And I thought its not so self-explainable why we need a temporary class to do this.

[2019-05-18 18:50] Egnarts94 commented on #41
That could also not be (technically). On my testpage it works properly.
Did you manually compare the files in the installation package with the files in your webspace? If you just install dev4.1 (or other since the better inclusion of jem-responsive) over my old responsive override, all old files were not removed.

[2019-05-18 21:13] jojo12 commented on #42
I agree with your proposal for the structure

[2019-05-19 13:06] #43 closed, assigned to nobody

[2019-05-19 13:39] jojo12 commented on #30
Ups: it' s a bit more complicated:
The settings were: show attendee names for everyone/show all related users=no
Then the super admin was registrated to attend.
in eventdetail the cbavatar and name was shown, but in the attendees manager in Frontend, there was "Currently no attendances..."

Now I added more persons, one on waitinglist, one invited.

I changed to show all related users=yes.
Now in

[2019-05-20 06:43] jojo12 commented on #42
Loudly thinking: Not so important, perhaps the editvenue form should have the same consequence of Tabs!

[2019-05-20 15:13] depebo commented on #44
@Egnarts94 Added comment and merged all your changes from develop-egnarts branch

[2019-05-20 20:13] Egnarts94 commented on #44
Yep, I merged it to my branch. When we solve the other bugs, I will update the dev23 branch.

[2019-05-20 20:13] #44 closed, assigned to depebo

[2019-05-20 20:16] Egnarts94 commented on #30
So, does it work as expected?
Do we need to change something?

That seems to be a bug, isn't it? Normally the "show all reladed users" setting shouldn't have impact in the attendee manager.

[2019-05-20 20:28] jojo12 commented on #30
Yes, I think, this is the /a bug!

[2019-05-28 08:45] jojo12 commented on #41
Sorry, I uninstalled the whole JEM with CleanupDB on uninstall=Yes.
I reinstalled pkg_jem_v2.3.0-dev.4.1 and tried again.
attachment remove works only on Backend, on Frontend there's the problem: you can't remove the attachment.
The special effect, @depebo describes, is on Backend. And I reproduced it there.

[2019-06-03 07:49] Egnarts94 commented on #42
Hey @jojo12 ,
can you post a a similar list for editvenue order?

[2019-06-03 07:52] Egnarts94 opened #45 "Way to Joomla 4 - JError"
One of the first problems on installing JEM on J4 is the JError Class. It does not exist anymore, we need to replace all JError calls.
See:
https://joomla.stackexchange.com/questions/15973/how-to-catch-an-error-in-joomla-3-5-alternative-to-jerror and
https://api.joomla.org/cms-3/classes/JError.html#method_raiseError -> raiseError, raiseNotice and raiseWarning - there you can find what is the sugge

[2019-06-03 07:55] Egnarts94 commented on #41
Hey thank you jojo,
I also need to do a clean Joomla to find the bug. On some happy day I will have time... :D

[2019-06-03 12:35] jojo12 commented on #42
I try but perhaps we have to discuss!
My full structure suggestion:

Tab: Venue
Fields:
Venue
Alias (with hint "auto-generate from Venue")
Street
Zip
City
State
Country
Latitude
Longitude
Add a map link (if possible it would be better to open the geo-data part only, when click on this)
Venue-Description
Venue-Image
Venue-URL (The best place for this, I am not sure!)

Tab: Extended
Fields:
Custom F

[2019-06-05 05:39] jojo12 opened #46 "strange dubbeling in frontend edit_attachments (in editvenue and editevent)"
Hi, it seems, I found a bug! in pkg_jem_v2.3.0-dev4.1
in site/com_jem/views/editevent/tmpl/responsive/edit_attachments.php and the same
in site/com_jem/views/editvenue/tmpl/responsive/edit_attachments.php

there is something like a dubbeling:

line 13 ff and line 60 ff (see <legend>)

EDIT: Only the second legend is very strange: better a new key than use a wrong key!

[2019-06-05 05:41] jojo12 commented on #46
Can this be the reason of the attachment problem issue?

[2019-06-10 11:03] depebo commented on #45
@Egnarts94 ok, working on JError replacement next using my branch.

[2019-06-12 20:38] jojo12 opened #47 "error when "empty trash" JEM 2.3.0-dev2"
A lot of events are trashed. I choose them and click on "empty trash", I get the error:

Es ist ein Fehler aufgetreten!

    0 Using $this when not in object context

[2019-06-18 16:50] depebo commented on #45
Replaced all JError:: instances with either
\Joomla\CMS\Factory::getApplication()->enqueueMessage(JText::_('COM_JEM_'), 'notice');
or
\Joomla\CMS\Factory::getApplication()->enqueueMessage(JText::_('COM_JEM_'), 'warning');
or
\Joomla\CMS\Factory::getApplication()->enqueueMessage(JText::_('COM_JEM_'), 'error');
or
throw new Exception($msg, $code);
based on content.
Also, replaced JString with \Jooml

[2019-06-18 17:07] depebo commented on #45
@Egnarts94 @jojo12 could you please test and let me know if you come across any issues. Install can be downloaded from here http://wikisend.com/download/667320/pkg_jem_v2.3.0-dev4.7.zip

[2019-06-19 11:39] jojo12 commented on #45
@depebo:
installed on Joomla! 3.9.8 over JEM_v.2.3-dev4.1, installation ok, quick going through: no problem!
installed on Joomla! 4.0 alpha 9:

[2019-06-19 18:26] depebo commented on #45
@jojo12 thanks. It is the version check in pkg_install.php, will update it tomorrow.
If you have time you can change line 35 in file pkg_install.php from
`'4.0' => '', // Not supported`
to
`'4.0' => '4.0.0-alpha9', // Not supported`
save inside zip and try install again.

[2019-06-20 12:06] depebo commented on #45
@jojo12 please try this build, I have not uploaded the changes to git
https://filebin.net/dzq4on2lv2h046lx

[2019-06-20 12:10] depebo opened #48 "Update All Versions in pkg_install.php File"
Add recent versions of PHP, MySQL and Joomla! to package\pkg_install.php

[2019-06-20 19:11] jojo12 commented on #45
tried to install  pkg_jem_v2.3.0-dev4.8.zip on a clean 4.0.0 alpha 9: got the following:
![jemalpha9test](https://user-images.githubusercontent.com/2960236/59875021-ffab2480-939f-11e9-83ac-0e5fb4bb726a.png)

[2019-06-21 08:57] depebo commented on #45
Thanks @jojo12 It would have been too easy if updated JEM would install on version 4 straight away. There is clearly more work needs to be done (in addition to replacing deprecated classes/functions) before JEM can run on version 4. This is what I was talking about few months ago on forum - JEM for version 4 needs to be properly architectured.
Might need to start from scratch?
I will install versi

[2019-06-21 13:17] depebo commented on #45
@jojo12 @Egnarts94 update...

I have spent few hours today on this: by disabling preflight check I have manged to bring com_jem into version 4 alpha 9. None of JEM forms would open due to various errors:

Control Panel, Help
An error has occurred. 500 JHtml sliders not found.
JROOT/administrator/components/com_jem/views/main/tmpl/default.php:102

Events, Venues, Categories, Groups
An error has occ

[2019-06-21 15:05] jojo12 commented on #45
Many thanks for your works!
EDIT: I installed your com_jem on Joomla 4 alpha 9, installation ok. Will go through, when I have time!

[2019-06-23 06:56] jojo12 commented on #45
Interesting what happens:

Load sampledata:
0 Class 'JArchive' not found
Help:
500 JHtml sliders not found.
Settings: ok
Housekeeping: ok
Updatecheck: ok
Importdata:
1146 Table 'joomla40.q5rjm_eventlist_attachments' doesn't exist
Exportdata:
0 Call to undefined method Joomla\Database\Mysqli\MysqliDriver::getErrorNum()
Css-Manager:
0 Call to undefined method Joomla\CMS\Access\Access::getActions()
C

[2019-06-23 07:16] depebo commented on #45
@jojo12 When you saying

You mean that you can press menu JEM/Settings and view opens without errors, right? Because you cannot save any changes in it at the moment.
There is alot of eventlist (J! versoin 1.x, 2.x) stuff that was kept for backward compatibility that begins triggering / kicking in (see your quote below),

1146 Table 'joomla40.q5rjm_eventlist_attachments' doesn't exist

 that after

[2019-06-23 07:44] jojo12 commented on #45
You're right.
My question is: are the problems because JEM is always holding the version for Joomla! 2.5?
Could there be a version which is (only for Joomla! 3 and Joomla! 4?
My problem is: until now I was a very actif user, so I made a lot of proposals to make JEM better. And I have the grace to find a lot of hidden mistakes. But until now I am a very bad programmer. More an adapter!

[2019-06-27 11:59] depebo commented on #45
@jojo12

Yes, some of errors I saw were directly related to JEM not understanding J!4 and falling back onto initial JEM version "eventlist".

Currently, you will have maintain 2 versions in code base, as far I can see. There may be a compatibility layer in J!3.10 to assist, but I have nothing to confirm that.
Personally, I think all JEM code supporting earlier J! version (J! < 3) should be dropped

[2019-07-03 12:10] Egnarts94 commented on #45
Sorry for my late response @depebo and @jojo12 .
Thank you for hours of your freetime you have invested to get more information about upgrading to J4. Without testing you work myself, I am not a friend of doing it from scratch because you will always loose features and will also take a lot of time.
My preferred way would be to remove <J3 compatibility and update JEM to be compatible to J3 and J4.

[2019-07-03 12:13] Egnarts94 commented on #47
I can not reproduce it.
What steps I need to do?

[2019-07-03 12:19] Egnarts94 commented on #46
I don't see the bug. It is dubbled because I separate existing Attachments from new-added attachments.
Take a look at the difference between Legacy and Responsive View:
![image](https://user-images.githubusercontent.com/14231804/60590915-7cc19b00-9d9d-11e9-8c81-6bbf6c7b76e8.png)
![image](https://user-images.githubusercontent.com/14231804/60590934-89de8a00-9d9d-11e9-9d36-93babe3eabb8.png)

[2019-07-03 12:55] Egnarts94 commented on #30
I tried to reproduce the bug with the following steps:
1. JEM -> Settings -> Event Page -> Show Attendee Names to "Everybody", and Show all related users "No", Selected Community Solution "CB" and Select Integration Option "Link to profile and show avatar"
2. As superuser create Testevent with registration, allow annulation, max places 0
3. Attend to the event from another browser via a normal reg

[2019-07-03 13:11] Egnarts94 commented on #41
Sorry @jojo12 for my late response.
I installed a new Joomla with a clean JEM. Changed JEM to responsive layout and changed Settings->UserControl->AttachmentUploads to "Enable".
Then I can freely create and delete attachments of events in the frontend.
Tested with Firefox and Chrome - what Browser do you use?

[2019-07-03 15:20] depebo commented on #45
I think yes: it will take more time to remove <J3 code from JEM models, views and controllers. And then clean it up, make it J3 & J4 compatible and test it.
Hence my proposal to start J4 JEM as a separate project and only bug fix J3 JEM. Having said that, this should be a steering group's decision by people who will actually do the work. Personally, I am happy to assist, but have not got enough ex

[2019-07-03 18:19] jojo12 commented on #47
Sorry, it's too late. Normally I use Firefox Developer.
I had to cleanup a site, So I trashed many events. Then I went to trash, choosed all events in the trash and clicked on "empty trash".  Then I got the error mentionned above.
Because I had to clean, I tried to destroy each event alone! this worked well. But because of that, I can't reproduce it anymore. When I meet this again, I will write.

[2019-07-03 18:22] jojo12 commented on #46
Ok, I see: the first is for existing attachments, and the second is to add an additional attachment.

[2019-07-03 18:24] jojo12 commented on #41
I use Firefox Developer, normally

[2019-07-05 12:56] Egnarts94 commented on #45
I think like you,
I am neighter experienced enough to lead this development, nor I have the time for doing something more like bugfixes...
So, what do we do?

[2019-07-07 14:11] depebo commented on #45
I think for now we concentrate our efforts on bug fixes of current JEM, perhaps add feature or two, announce what is coming on forum and **start making regular releases**.
There is a useful project on github called Joomla-Component-Builder, with help of which one can build J! components (well, at least all required MCV for front/back end). Once they convert to J4 we can use that to start on JEM fo

[2019-07-17 18:31] depebo opened #49 "Backend publish (unpublish) from list - modified date doesn't change"
When admins or users edit Event or Venue form (backend or frontend), the modified date changes as well. But when in backend admins publish (or unpublish) an item from list (Events or Venues) by its Status link, than the modified date doesn't change.
See details in this thread, Issue and solution by [iberan](
https://www.joomlaeventmanager.net/forum/profile/6249-iberan)
[JEM Forum Post 26309](https

[2019-07-20 16:38] JKoelman commented on #30
To add....

Did install JEM2.3.0-dev0.4.6  and noticed an issue with the attending-part too.

- did add an event
- did add 3 people to an event (1 is superuser)
- then a menu-item to my attending view
- in front i'm seeing only seeing 1 row + in the row status an icon with status "user is invited"

Will check later a bit more....  also not sure if it's related to your responsive pull.  If it's not

[2019-07-20 17:50] JKoelman commented on #30
Right to add..

- installed version JEM 2.3.0-dev04.6
- Responsive view setting
- Added users to event (super user + 2x test user)
- created a menu-link to myevents-view
- logged in front as super user then when to myevents
- in there the layout was a bit messed up
first i did think there were no link to the attendees-view but after second look it seems that the numbers are at the left.

second pr

[2019-07-20 17:57] JKoelman opened #50 "2.2.3-dev046 | Site-MyeventsView, tmpl-response | link to manage attendees trows an error"
When clicked at the link to show the attendees it trows an error.
The addremove button is not defined.

` Call to undefined method JemOutput::addremovebutton() `

[2019-07-20 18:00] JKoelman opened #51 "FTRQ: Responsive setting per view?"
Just an idea,

but is it something to add an option in the front (option for menu-item) where you as admin can define if a menu-item view needs to be responsive?  Something like

Responsive?
- Use global  (this case look at the general-setting)
- Responsive
- No

pass that setting to the params and catch it in the front.

[2019-07-20 18:07] JKoelman commented on #36
that might be usefull,

but would say that even as the module is meant for a wide position it can happen that people use it in a different position and in that case it might be user-friendly to don't let it overflow. Doesn't look nice. Think it would be better to crop it all up and messy between the borders... (if possible)

[2019-07-20 18:18] JKoelman commented on #45
`Thinking on Bluefox, who was creating a JEM for J3 but never gets finished... So I am scared this could happen in our project.`

Nope, won't happen as you, @depebo, @jojo12 and Ernst are onboard. Next I'll assist where i can.  Haven't been around much lately but think you've noticed a change lately.

Didn't finish as the decission was made to continue JEM2.x , so dropped my effort..   For JEM4.x

[2019-07-20 18:25] JKoelman commented on #47
**Installed**
JEM2.3.0.-dev.04.6

Did trash events, then emptied but can't confirm the notice.

[2019-07-20 18:27] JKoelman commented on #40
Would agree as it's neater.

[2019-07-21 09:15] depebo commented on #51
Why do we need separate non-responsive views? I would advocate make all responsive first.

[2019-07-21 14:35] JKoelman commented on #51
that's probably better, but as there are several options (responsive/non-responsive/alternative) it can be usefull to provide an option to choose... ah well not needed for now.

[2019-07-22 08:18] depebo opened #52 "Install Package Size"
Related to JEM Forum post [10665](https://www.joomlaeventmanager.net/forum/developers-forum/10665-pull-1204-egnart-including-jem-responsive-to-your-approach)
@Egnarts94 Is there anything can be done to reduce size of media/FontAwesome folder and iCalcalendar class?

[2019-07-22 08:23] Egnarts94 commented on #49
@depebo Can you fix it?
As far I see, in the forum topic there may be a solution?

[2019-07-22 08:25] Egnarts94 commented on #50
This ist already fixed see https://github.com/Egnarts94/JEM-Project/commit/0e1b8e4d2f97bc8d761ec402717ea190943d211c
But thx for the hint.

[2019-07-22 08:27] Egnarts94 commented on #36
The Responsive module will not overflow as far I know.
Depebo used the "Alternative Responsive" by hoffy. This override is not relevant an should be removed on a new release.

[2019-07-22 08:30] Egnarts94 commented on #47
Frontend or backend?

[2019-07-22 08:32] Egnarts94 commented on #51
It can be useful... But I don't see the use-case?
Why should I need two completely different views of the same component? It requires to include everything everything twice on a page, e.g. doubled css. And there may be some complications with doubled js and same function names.

[2019-07-22 08:36] Egnarts94 commented on #52
FontAwesome is already compressed and minimized, I think its not possible to do it more small.
So, what we could do is to create an plugin just installs FontAwesome.

[2019-07-22 09:24] depebo commented on #47
Cannot recreate in the latest release. @jojo12 can you confirm you still have this issue using the latest release?

[2019-07-22 09:31] depebo commented on #36
Proposed Actions

1. Remove option "Alternative Responsive" from available options in Layout Style (Settings / Basic Settings / Style)
2. Default Layout Style to "Modern Responsive"

@jojo12 @JKoelman @Egnarts94 Are we all in agreement?

[2019-07-22 09:36] depebo commented on #30
@JKoelman please confirm the issue still present in the latest release

[2019-07-22 09:51] depebo opened #53 "Add Tab Character to CSV Export Import"
Allow tab (\t) to be used as field separator (i.e. delimiter)

[2019-07-22 11:44] depebo commented on #48
@Egnarts94 will you be able to do it this week?

[2019-07-22 11:46] depebo commented on #46
@jojo12  can this be closed?

[2019-07-22 11:47] depebo commented on #50
@JKoelman can this be closed?

[2019-07-22 14:13] JKoelman commented on #50
ah yeah didn't take a peak at the recent commits so that woud be ok.

[2019-07-22 14:13] #50 closed, assigned to nobody

[2019-07-22 17:01] depebo opened #54 "Event Contact - on Save of Event Sometimes Resetting to Contact ID = 127"
Had this issue long time ago, just today realized what is the problem: table field definition. In table Events field contactid is defined as tinyint(4), which has max value 127.
It is only apparent on sites with large number of contacts.
If you have similar problem redefine events.contactid as int(11) unsigned

[2019-07-22 17:04] depebo commented on #54
never mind, it is already done in this version.

[2019-07-22 17:04] #54 closed, assigned to depebo

[2019-07-22 17:14] #49 closed, assigned to depebo

[2019-07-22 17:14] #53 closed, assigned to depebo

[2019-07-23 04:39] jojo12 commented on #46
Yes.

[2019-07-23 04:39] #46 closed, assigned to jojo12

[2019-07-23 10:43] Egnarts94 commented on #36
1. Yes I agree
2. That we should discuss. I am not shure, if it is good because all people updating JEM will be enforced to use the responsive layout. So there may be some angry guys... If we use the legacy layout as default, for people already using JEM it will change nothing.

[2019-07-23 12:53] jojo12 opened #55 "FR: adding Joomla 3+ possibilities"
Hi, until now I always thought, Joomla's TAG and Joomla's CUSTOM FIELDS are not integrated into JEM because of the compatibility with JEM 2.5.
When this compatibility is not anymore needede, then we should add these things!

[2019-07-24 04:58] Egnarts94 commented on #48
Hey @depebo ,
I am not shure what do you mean.  As far as I understood (wihout looking to the file), the pkg_install contains minimum versions?

[2019-07-24 08:15] depebo commented on #48
it contains minimum and recommended versions, thought they should be updated what is relevant now
![image](https://user-images.githubusercontent.com/14943618/61776687-70a48880-adf3-11e9-9254-ab75d75817e7.png)

[2019-07-24 08:53] depebo commented on #55
...and CATEGORIES.
I would like to see that in the JEM in near future. Not sure it is worth adding to current version, I would target J! 4.x compatible JEM with this.
More info:
[Adding Fields](https://docs.joomla.org/J3.x:Adding_custom_fields/Implement_into_your_component)
[Adding Categories](https://docs.joomla.org/J3.x:Developing_an_MVC_Component/Adding_categories)
[Adding Tags](https://docs.jo

[2019-07-24 09:20] depebo commented on #36
will this work: set default to "Modern Responsive" in install sql, but not modify it in update sql. This way if you install from blank - you get responsive by default and if you upgrade - your current setting will stay put.

[2019-07-24 20:41] Egnarts94 commented on #48
Where is the problem?
As far I know, currently JEM is also compatible to Php 5.6 and JEM 2.5 etc. The only thing we could change is the preferred version. I think on friday I will find time...

[2019-07-27 18:28] JKoelman commented on #30
whoops just reads your message (it's currently to hot weather here).. Have to check with the latest code, to be sure so can't tell right now.   Thing is that i did test with 0.4.6 as that was with the pull. @Egnarts94  @depebo  will check but that will be at later point.

Think we first have to check/decide if the pull can be merged.  There will be small things that have to be fixed but when it's

[2019-08-04 19:04] jojo12 commented on #47
I don't know, because since then, I had not to delete so many events.
Can be closed. I will have to reopen when I encounter this again

[2019-08-04 19:04] #47 closed, assigned to jojo12

[2019-08-04 19:13] jojo12 commented on #41
I am not sure, what version I am testing, I installed the version so called Beta 1, but then it says 2.3.0dev4 ?
I tested again, it's impossible to delete in frontend an attachment! In backend it works

[2019-08-05 08:01] depebo opened #56 "Backend Style not Applied in Admin Views"
Custom backend style sheet is only applied in site views, not admin. All admin view still use
`JHtml::_('stylesheet', 'com_jem/backend.css', array(), true);`
to load CSS instead of
`JemHelper::loadCss('backend');`
Change would affect 25 view.html.php files.

[2019-08-14 11:40] jojo12 opened #57 "simplevenueslist"
[simplevenueslist_corr.zip](https://github.com/Egnarts94/JEM-Project/files/3532999/simplevenueslist_corr.zip)

@depebo: in attachment a zip of simplevenueslist like I am using and which was just very helpful.

there are some additions in controller.php, router.php, output.classes.php. You may compare!
EDIT:
There was an error inside, I corrected the zip

[2019-08-14 12:04] depebo commented on #57
thanks @jojo12 will have a look next time I am working on it

[2019-08-15 17:11] jojo12 opened #58 "FR: adding multiple attending / invited users in backend"
#1184 in jemproject/JEM-Project:

in backend it's very annoying to add multiple attending persons.
in frontend you can click on multiple items and then in one step they are added.
This should be possible in backend too!
(Please don't forget this - even when you say, this is not critial - but it is very annoying)

[2019-08-16 10:52] depebo commented on #58
I believe in democracy - if majority says it is important then it is critical.
Personally, I have not used this feature in the past, but I can see how it will be time consuming to add users one by one in back end.
I had a similar issue with opening/closing registration, where every month 20+ events needed to have registration open at once.

[2019-08-16 11:04] depebo commented on #41
Tested in both Chrome and Edge (Windows 10) and cannot re-create this issue.
![image](https://user-images.githubusercontent.com/14943618/63163537-96e9cc80-c01d-11e9-8c7c-9aa9313e8014.png)
First I get this view above and after pressing red cross get this (below)
![image](https://user-images.githubusercontent.com/14943618/63163570-aa953300-c01d-11e9-8950-6c75691170e3.png)
After pressing Save attachm

[2019-08-16 11:39] jojo12 commented on #41
Strange, but now I've seen:
I was trying on Joomla 3.9.11 and JEM 2.3 Beta1 and Protostar-plus.  There it doesn't work.
I retried on Joomla 3.9.11 and JEM 2.3 Beta 1 and the normal Protostar. There it works.
Shame on me, that I thought, protostar and protostar-plus are working the same way.
It's a pity: I liked protostar-plus so much!
Can be closed here on JEM. I am so sorry.
EDIT:
I tested on Bee

[2019-08-16 11:55] depebo commented on #41
So, something on "-plus" version of template breaks it, let's keep that in mind for future. Perhaps, there is a case to switch to "-plus" template going forward?

[2019-08-16 12:04] jojo12 commented on #58
Only if it's easy (perhaps it is possible to use/adapt the code from frontend), but it makes it more userfriendly. Sometimes you must add attending persons by yourself.

[2019-08-16 12:07] depebo commented on #30
@JKoelman @Egnarts94 I think I understand what @jojo12 was referring to: if you set the filter for non-existing attendees, then no attendees are shown, but also filter controls are not shown, so there is no way to get out from that "currently no attendances..." situation. There was a Joomla! similar bug with contact list view, where display of filter controls was dependent on records count: if cou

[2019-08-19 11:21] jojo12 commented on #41
Sorry, I reopen this, because of the following:
Can it be that the problem has to do with the following:

In original Joomla (Protostar) template:
all images with links or events show a hand when I mouseover,
only attachment remove (and image remove) show an arrow (never a hand)
(Any way, it would be better if there would appear a hand! It helps the user. But for this I create a new item!)

(I hav

[2019-08-19 11:23] jojo12 opened #59 "Attachment remove and Image remove icons should change to a hand when hover!"
In original Joomla (Protostar) template:
all images with links or events show a hand when you mouseover,
only attachment remove (and image remove) show an arrow (and change never to a hand)
It would be better if there would appear a hand! It helps the user.

[2019-08-19 11:46] jojo12 commented on #41
Can it be that this is a "mootools conflicts with Bootstrap Joomla"?

[2019-08-20 08:54] depebo commented on #41
Need to add <a> to make cursor change to hand.

[2019-08-20 11:54] depebo commented on #59
will be done in the next release, duplicate of #41

[2019-08-20 11:54] #59 closed, assigned to nobody

[2019-08-20 13:27] depebo commented on #42
Event edit front end will be done in the next release, Venue edit please open a separate issue

[2019-08-20 13:35] depebo commented on #30
display filter options even if no attendees found - to allow user get out from filter, which resulted in 0 attendees returned
Will be done in the next release

[2019-08-20 16:06] #30 closed, assigned to depebo

[2019-08-20 16:06] #36 closed, assigned to depebo

[2019-08-20 16:06] #45 closed, assigned to depebo

[2019-08-20 16:06] #41 closed, assigned to depebo

[2019-08-20 16:06] #42 closed, assigned to depebo

[2019-08-20 16:19] #34 closed, assigned to depebo

[2019-08-20 16:21] depebo commented on #38
dev4 is substituted by beta followed by number, see releases and milestones

[2019-08-20 16:22] depebo commented on #39
updated

[2019-08-20 16:22] #39 closed, assigned to nobody

[2019-08-20 16:22] depebo commented on #35
defaults are set in Beta2 release

[2019-08-20 16:22] #35 closed, assigned to nobody

[2019-08-21 06:12] jojo12 opened #60 "beta2: Eventdescription and Venuedescription have lost JCE"
Testing JEM2.3.0 beta2 local on clean Joomla 3.9.11 Protostar

[2019-08-21 06:14] jojo12 opened #61 "beta2: invited user can't register attending"
a (joomla registered user) is invited, but he can't answer on event view.

[2019-08-21 06:26] jojo12 commented on #61
sorry, it's not true! Can be closed

[2019-08-21 06:26] #61 closed, assigned to nobody

[2019-08-21 06:38] jojo12 commented on #60
Really strange: After about 10 times looking into event edit and venue edit, suddenly JCE is there.
I don't know what I changed.
(So because of this, I don't close this issue)

[2019-08-21 06:52] jojo12 opened #62 "Testing JEM 2.3.0beta2: JCE xtd-buttons"
In event edit, there are 6 xtd-buttons (module, menu, contact, article, image,readmore),
In venue edit there are only 4 xtd-buttons (image and readmore are hidden)
why?

[2019-08-21 11:44] jojo12 opened #63 "FR: Changing order in editvenue form"
I add my way for responsive edit venue form:
[edit_venue_responsive.zip](https://github.com/Egnarts94/JEM-Project/files/3525121/edit_venue_responsive.zip)

I want it similar the edit event form.
But Image is much less basic than for events: So image and URL are in extended tab.
Do you agree?
I adapted from beta 2

[2019-08-21 13:57] depebo commented on #62
There is a difference in event edit and venue edit editor display:
Event has
`hide="pagebreak"`
Venue has
 `hide="pagebreak,readmore,image"`
This has not been changed for a while.
Now, I am not sure why there needs to be a difference in editing description of Event vs Venue, so I am for making it uniform, like Event edit.
Objections?

[2019-08-21 13:59] depebo commented on #60
@jojo12 Can you confirm you have the same behavior if using default editor TinyMCE please?

[2019-08-21 14:06] depebo commented on #63
Sounds good, thank you. I shall check and merge to the next release.

[2019-08-21 14:45] depebo commented on #60
This is Venue edit page front end with default editor TinyMCE
![image](https://user-images.githubusercontent.com/14943618/63441700-bde33c80-c429-11e9-87d7-25e12e900ce7.png)

And this is Venue edit front end using JCE editor, note increased requests and load time
![image](https://user-images.githubusercontent.com/14943618/63441794-e0755580-c429-11e9-9d22-2d38f897b0c0.png)

Both tests using Chrome 7

[2019-08-22 05:45] jojo12 opened #64 "Testing 2.3.0Beta2: Settings Can't drop down to alternative responsive Style"
I can only switch between modern and default.
The item alternative is shown but, it's not possible to drop down to it.

[2019-08-22 06:11] jojo12 opened #65 "Testing 2.3.0Beta2: waiting icon in eventview should be hourglass-half"
In attending manager is for waitinglist - fa-hourglass-half.
in eventview fa-exclamation-circle.
It would be better to use the same icon and hourglass-half is more clear!

[2019-08-22 06:16] jojo12 opened #66 "Testing 2.3.0Beta2: Frontend print of attendings has wrong column"
![printattending](https://user-images.githubusercontent.com/2960236/63490394-e2d0c180-c4b4-11e9-97ae-551efbedac26.png)
the attending status is in words (can be like that instead of icons), but this is not the column comments!

EDIT:
it's two times the date column

[2019-08-22 06:35] jojo12 opened #67 "Testing JEM2.3.0beta2: resp my events breaked template (hint for columns is important!)"
my settings for views are good on other sides, but here:
![brokentempmyevents](https://user-images.githubusercontent.com/2960236/63491513-a81c5880-c4b7-11e9-9810-819e30450e84.png)

the same for myattendances

[2019-08-22 07:12] jojo12 opened #68 "FR: add a hint in event.xml and venue.xml (alias)"
A lot of users don't know, that they can let free the alias fields in the forms.
For that it would be better to add a hint: "automatic from title" like in joomla alias fields
			hint="JFIELD_ALIAS_PLACEHOLDER"

[2019-08-22 10:22] jojo12 opened #69 "mod_jem_banner: destroys template in wide module positions (e.g. banner)"
the eventimage is enormous and it goes over the rest of the site

[2019-08-22 15:47] jojo12 opened #70 "FR: multilingual ?"
Most people will not need it, but if this is easy, it would be good

[2019-08-23 07:53] depebo commented on #63
turn remove image/attachment into buttons, display google map if selected in settings, add missing text constants, split save/cancel to be the same as event edit

[2019-08-23 08:11] depebo commented on #64
alternative responsive is blocked as per #36

[2019-08-23 08:11] #64 closed, assigned to nobody

[2019-08-23 08:29] depebo commented on #69
@Egnarts94 modules\mod_jem_banner\tmpl\responsive\default.php has embeded style on this page, lines 39-95. This results in event image being stretched to 100% page width.
Before I start changing mo_jem_banner output can you share the logic behind it please.

[2019-08-23 08:40] jojo12 commented on #69
The logic (in my eyes) The mod_jem banner is an adapted mod_jem_teaser. I use it after all without calendar-img as special adviser for some events like a banner. So the eventimage is bigger and it doesn't need the venueimage. for that the shuffle too.

[2019-08-23 09:55] depebo commented on #67
site\views\myevents\tmpl\responsive\default_events.php
has 2 issues
1. it was not respecting attending setting and was always showing attending
2. in addition to columns selected in settings it was showing select tick and status, thus pushing table width past 100%
Temporary fix: take 5% from date and title columns to allow for non conditional columns display

[2019-08-23 10:52] depebo commented on #67
Same with my Attendance view, with addition of longer comment field. Need at least 13% to show status and comment fields. It is a temporary hack though.

[2019-08-23 11:27] depebo commented on #69
@jojo12 In any case event image should not be resized to 100% of available space, right?
If you have a larger event image you can use it, if not - hide it.
I wanted to check with @Egnarts94 the logic behind embedded css there before changing it.

[2019-08-23 11:29] jojo12 commented on #69
or perhaps better a note: "not ideal to use on wide positions"

[2019-08-23 11:42] depebo commented on #65
agree, done.

[2019-08-23 11:59] depebo opened #71 "Nightly Build"
## Here you can find nightly JEM builds between the official releases.
This is for testing purposes only, please do not use in production environments. Log all problems you find as a new issue.
### pkg_jem_v2.3.0-beta3.1 (beta 3, build 1)
Includes the following issues: #62, #63, #65, #66, #67
### Asset
[pkg_jem_v2.3.0-beta3.1.zip](https://github.com/Egnarts94/JEM-Project/files/3534289/pkg_jem_v2.3

[2019-08-23 12:16] jojo12 commented on #71
:-)
I installed it over beta2 on a local place. the issues are fixed. In editvenue there is a new word key for "Map"

[2019-08-26 07:02] jojo12 opened #72 "all new features are only in modern responsive style"
Normally I only use the new modern style.
So it's a question: does the new features have to work on default style too?

[2019-08-26 07:30] depebo commented on #72
I would say only modern responsive.
Going forward we should design mobile first and ditch the table view. Starting from smallest supported screen size and gradually adding more elements as screen size gets bigger.

[2019-08-28 06:01] jojo12 opened #73 "helpful in FE for admins and group members"
The persons who are allowed to create/edit events can come easier to attending manager
(they can come to the same by using "myevents")
if you add in site/event/views/view.html.php
in about line 202

`		// Check if user can edit attendees
		//$isAuthor = $userId && ($userId == $item->created_by);
		//$permissions->canEditAttendees = $isAuthor;
		// Check if user can edit events (admins and group me

[2019-09-05 06:05] jojo12 opened #74 "Changing translations because of changed behaviour"
The expression "Register" gives problems, because it is used for registering/loggin in in Joomla **and** registering for an event.
Now with the new possibilities of attending/non attending/invited it is much more complicated.
Which words should be used for that?
Your feedback/answer ?

[2019-09-05 06:09] jojo12 opened #75 "added new words/key after all in edit event and edit venue (to be more clear)"
with the new order of edit event and edit venue, there are arrived new words/keys.
How they come into the basic transifex language files? Automacticly?

[2019-09-08 15:16] jojo12 opened #76 "JEM_2.3.0_beta2"
I used the JEDchecker and compared JEM 2.2.3 with JEM 2.3.0 Beta 2:

Good is: all JErrors are now away!

Some warnings are the same (surely because of compatibility to Joomla 2.5) , this seems to be ok, but must be controlled by JED

New warnings are but new are:

    • #001 C:\xampp\htdocs\joomla_30\tmp\jed_checker\unzipped\pkg_jem_v2.3.0-beta2(1).zip/packages/com_jem/admin/controllers/attendee.p

[2019-09-09 12:44] jojo12 commented on #76
It seems that newly column of attendees in myevents is together with simplelist column of attendees.
But this is (in my eyes) not so good!
If an eventcreator decides not to show the number of attendees for public, he wants perhaps to see the number of attendees in myevents.

[2019-09-10 06:43] jojo12 commented on #76
in JEM_2.3.0_Beta 3.1 it shows:
JEM_2.3.0_Beta3.1

10 Errors - Click to View Details
•	#001: C:\xampp\htdocs\joomla_30\tmp\jed_checker\unzipped\pkg_jem_v2.3.0-beta3.1.zip/packages/com_jem/admin/controllers/source.php
You've used encoding in this file. This is not an error, but a JED editor will have to review this file.
•	#002: C:\xampp\htdocs\joomla_30\tmp\jed_checker\unzipped\pkg_jem_v2.3.0-beta

[2019-09-11 07:40] depebo commented on #76
The first past JRequest is related to conditional code run for version J!<3.2 - I'll remove that code later today
The second - about attendees - should be a separate issue
The third - 10 errors - is a warning that base64 encode/decode has been used. We have 10 files in JEM:
![image](https://user-images.githubusercontent.com/14943618/64677548-b1259780-d46f-11e9-811d-0ff9f9db74c9.png)
Has not been c

[2019-09-11 07:53] depebo commented on #75
Reply from Ernst:
Yes, transifex files are updated every night directly from GitHub

[2019-09-11 07:53] #75 closed, assigned to nobody

[2019-09-11 08:04] depebo commented on #74
Lets have a look at available options in English:
- enrol
- join
- enlist
- inscribe
- schedule
- subscribe
- check in
- sign on

Any of them to replace **Register**?

[2019-09-11 08:08] depebo commented on #75
More specifically branch dev21 (or dev23) from jemproject/JEM-Project
So, nothing will be in transefix yet from this repo

[2019-09-11 08:16] depebo commented on #60
@jojo12 please confirm this is still an issue

[2019-09-11 08:37] depebo commented on #73
cannot comment out
`//$isAuthor = $userId && ($userId == $item->created_by);`
cause it is used on line 223 as a part of test
`$this->showAttendees = (($g_reg == 1) || (($g_reg == 2) && ($e_reg & 1))) && ((!(($e_reg & 2) && ($g_inv > 0))) || (is_object($registration) || $isAuthor));`
Updated `$permissions->canEditAttendees`

[2019-09-11 08:58] depebo commented on #71
### pkg_jem_v2.3.0-beta3.2 (beta 3, build 2)
Includes the following issues: #73, #76

### Asset
[pkg_jem_v2.3.0-beta3.2.zip](https://github.com/Egnarts94/JEM-Project/files/3599873/pkg_jem_v2.3.0-beta3.2.zip)

[2019-09-11 11:24] jojo12 commented on #68
Please add:
			hint="JFIELD_ALIAS_PLACEHOLDER"

in
site/com_jem/models/forms/event.xml  (line 30
and
/site/com_jem/models/forms/venue.xml (line 23)

Then it has the same behaviour like in joomla articles and is helpful for dummies.

I don't understand why this is not inserted as default

[2019-09-11 11:36] jojo12 commented on #73
it doesn't work like that:
When the setting is:  all registered can create events, then registered user is not possible.
but he should, because he is author too!
(but better than nothing)

[2019-09-11 11:43] jojo12 commented on #76
The compatibility issues have always a comment: it seams this helps the JEDcheckers to understand why this old code is there (I think this is because of the compatibility with Joomla! 2.5.

[2019-09-11 12:03] jojo12 commented on #60
no, but I don't know why was this. Can be closed

[2019-09-11 12:03] #60 closed, assigned to jojo12

[2019-09-11 12:05] jojo12 opened #77 "Column of Attendees in MyEvents should be independent of settings attendees column"
It seems that newly column of attendees in myevents is together with simplelist column of attendees.
But this is (in my eyes) not so good!
If an eventcreator decides not to show the number of attendees for public, he wants perhaps to see the number of attendees in myevents.

[2019-09-11 12:36] jojo12 opened #78 "featured icon should be bigger!"
The icon for featured in simple list should at least be bigger (I propose fa-2x)
It would be better to have an other colour, but this depends on personal templates.

[2019-11-13 20:10] jojo12 opened #79 "FR: adapted plugins for new acymailing newsletter extension"
There's a new acymailing newsletter extension. (Until now the old one is in function. Our plugins work fine with that).
But our plugins don't work with the new acy extension. There are plugins from concurrent event extensions. We should try to adapt JEM plugins for that, or offer them to adapt this.
(Years ago we had the discussion or to hold the plugins in JEM or to give them to acy.)
Are we capa

[2019-11-24 16:45] jojo12 opened #80 "microdata absent?"
There's a post from stm:
with JEM 2.3  in google webmasters tools they note that all event urls missing the image, location & startdate(the last is not error just info).
@Egnarts94
@depebo
It seems you should look if all schema.org data is in event details!

[2019-12-26 08:09] jojo12 opened #81 "no chance to wait for Joomla 4 stable: earliest date will be in 2021!"
Nothing mooves. So we should not wait for this. We need to go forward.
1) There are bugfixes in the JEM 2.3 beta 2, which should come in a stable. (They are for newer php versions)
2) We should finish the ballast of Compatibility with outdated Joomla 2.5.
3) What can be the way to upgrade from Joomla 2.5+ to newest Joomla?
4) Perhaps this opens the possibility to add Joomla 3.7+ things like tags,

[2019-12-27 18:40] Egnarts94 commented on #81
You are right.
But I don't have time currently. I finished my studies, so I have not much free time anymore.

[2020-01-23 06:55] jojo12 opened #82 "Urgent! JEM 2.2.3+ Backend Problem creating new venue!"
I can reproduce this issue (from 2 others) in forefox in Backend on a clean joomla 3.9.14 on php 7.3.11 with protostar template and JEM 2.2.3. On JEM 2.3.0 prerelease too!
I don't know since when this comes. (Because the use of creating new venues is not so needed, it is possible, that it is not yet found earlier.)
In backend I create a new venue, I insert a name, then I go to image and choose an

[2020-01-23 13:31] depebo commented on #80
@jojo12 Can you provide bit more details as to exactly what microdata you want (which tags) and where (which views, urls)

[2020-01-23 13:45] jojo12 commented on #80
There's a serie of posts in the forum:
Missing field "location" - Missing field "startDate" & "image"  from stm
which shows the problem.

[2020-01-23 13:54] ernst67 opened #83 "Rename the default JEM layout as "legacy" and the responsive part as "default""
With the introduction of the first responsive version of JEM it could be smart to change the naming conventions to encourage as much users as possible to use the new style.

Therefore let's rename the default as "legacy" and the responsive part as "default".

[2020-01-23 14:03] #83 closed, assigned to nobody

[2020-01-23 15:46] depebo commented on #82
@jojo12 I cannot re-create the issue in Chrome or Edge on J! 3.9.15-rc + JEM 2.3.0-beta3.2 in either front and back end.
Can you confirm it happens in Chrome / Edge on your machine?

[2020-01-23 15:52] jojo12 commented on #82
@depebo: I tried with chrome: there's no such problem. in events, categories and venues.
Only in firefox!
Will test in other browsers.
EDIT:
In Edge it works fine.

[2020-01-30 07:15] jojo12 commented on #82
![Webkonsole_image](https://user-images.githubusercontent.com/2960236/73427707-b3619300-4337-11ea-80d3-308257129c69.png)
I don't know, if you just did find a solution.
With Webconsole in firefox developer I found the following: (see image).
there seems to be a deprecated thing (in joomla 3 too)
Is it possible, it has to do with jquery and an old jquery-migrate?
But I found too, that they planned t

[2020-02-04 16:00] jojo12 opened #84 "Myplanning: myevents_calendar is a nice variante!"
In the forum there's a nice variante: a calendar which shows only my events in the calendar layout.
I like such sharings of tries, it shows me, JEM is still alive!

[2020-02-10 16:08] jojo12 opened #85 "venue name has only varchar(50) meanwhile his alias has varchar (100)"
Should it not have the same value?

[2020-02-13 09:18] jojo12 opened #86 "JEM in Joomla 3 with joomla's custom fields"
Hi, I tried to implement joomla's custom fields into JEM. And I succeeded in some (first) way. :-)
 1) For the backend I inserted in /helpers/helper.php in addSubmenu:
`		if (JComponentHelper::isEnabled('com_fields') && JComponentHelper::getParams('com_jem')->get('custom_fields_enable', '1'))
		{
			JHtmlSidebar::addEntry(
				JText::_('JGLOBAL_FIELDS'),
				'index.php?option=com_fields&context=co

[2020-02-13 09:30] jojo12 commented on #86
It only works in event. I see the view.html.php of event has onContentPrepare.
When I look into view.html.php of venue there's no onContentPrepare.

[2020-02-13 14:08] jojo12 opened #87 "Bug: in Frontend when editing an event, the category is lost"
I wanted to edit an event in Frontend. I change something and want to save, saving is not accepted because there's no chosen category.
This means the earlier category is lost with opening the event!

(JEM 2.3.0 Beta 3 on Joomla 3.9.15 php 7.3.13

[2020-02-14 09:27] jojo12 commented on #86
My question:
If I proceed like described, I get a field-button to insert a field in the description,
But "how to do" for the field tab above the description in the editevent-view?

[2020-02-27 12:58] jojo12 opened #88 "Function create_function() is deprecated-->Quickfix for php7.2+"
on component/com_jem/classes/user.class.php line 229:
replace
		`array_walk($asset, create_function('&$v, $k, $db', '$v = $db->quoteName($v);'), $db);`

with
`array_walk($asset,` function(&$v, $k, $db) { $v = $db->quoteName($v); }, `$db);`

[2020-03-01 13:10] jojo12 opened #89 "lost: possibility to show/hide venue in eventview"
Because of a post in the forum which says, that location is 2times in eventview, I've seen we lost the possibility to hide the venue part in the eventview. (If I remember right, this was in earlier versions. (Don't know which)
Actually you only can hide the venue description in the eventview (if there is one). This makes not much sense.

[2020-03-03 13:50] ernst67 opened #90 "Rename the default JEM layout as "legacy" and the responsive part as "default""
With the introduction of the first responsive version of JEM it could be smart to change the naming conventions to encourage as much users as possible to use the new style.

Therefore let's rename the default as "legacy" and the responsive part as "default".

[2020-03-03 15:58] jojo12 commented on #90
there are 2 possible ways:
only changing the language (easy)
 or changing the code seems complicated

[2020-03-14 07:33] #90 closed, assigned to depebo

[2020-03-14 07:40] depebo commented on #87
Cannot reproduce this issue in Chrome of Firefox. Frontend event edit by pressing anchor at this path:
/html/body/div[1]/div/div/main/div[2]/h1/a[1]

[2020-03-14 08:21] jojo12 commented on #87
I tested again: strange! I don't encounter this anymore. Will continue to test and announce if I will encounter again. Sorry!

[2020-03-14 08:47] depebo commented on #82
only happens on 64 bit version of Firefox

[2020-03-14 09:11] jojo12 commented on #82
should firefox know this difference?

[2020-03-14 09:45] depebo commented on #82
Removed `window.history.go(-1);` from command from lines 86/89 in admin\controllers\imagehandler.php
Testing...

[2020-03-14 10:03] #62 closed, assigned to depebo

[2020-03-14 10:03] #63 closed, assigned to depebo

[2020-03-14 10:03] #66 closed, assigned to depebo

[2020-03-14 10:03] #65 closed, assigned to depebo

[2020-03-14 10:03] #67 closed, assigned to nobody

[2020-03-14 10:03] #76 closed, assigned to depebo

[2020-03-14 10:03] #73 closed, assigned to depebo

[2020-03-14 10:03] #82 closed, assigned to nobody

[2020-03-19 07:00] jojo12 commented on #87
I think this can be closed

[2020-03-19 07:00] #87 closed, assigned to jojo12